<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <!--↑サイドツールにジャンルを入れる-->
      <!--商品一覧-->
      <div class="col-md-8 offset-md-1">
        <!--画像背景挿入、時間差で変わるやつ-->
        <h4 style = "font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;" >ようこそながのCAKEへ！</br>
        長野特産物をふんだんに使用したスイーツを味わいませんか？</h4>
        
        <h4 style = "recommeded_item", style = "font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">☆おすすめスイーツ☆</h4>
        <!--↓ケーキの写真を貼り付ける-->
        
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>