 <div class="container takasa">
  <div class="row">
    <h2>管理者用TOP画面</h2>
  </div>
  <br>
  <br>
  <div class="row today-order">
    <h3>本日の注文件数:　<%= @order.count %>件</h3>
  </div>
    <br>
    <br>
  <div class="row">
    <%= link_to "注文履歴一覧", admin_orders_path, class:"btn btn-primary" %>
  </div>
</div>